body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;

}

header,
main,
aside,
footer {
    margin: 10px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.4rem;
    color: #000;
    border: 1px solid rgb(201, 197, 197);
}

header,
footer{
    flex-basis: 100%;
}

main{
    flex: 8 1 40rem;
    height: 400px;
}

aside{
    flex: 2 1 20rem;
    height: 400px;
}