body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    width: 1200px;
    margin: 0px 50px;
}

.header,
.main-section,
footer{
    float:left;
    width: 700px;
}
aside{
    float: right;
    width: 300px;
}
img{
    width: 70%;
    height: 70%;
}