.grid{
    background-color: aquamarine;
    min-height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr min-content;
    grid-template-areas: "header header"
                        "sidebar main"
                        "footer footer";
}
.header{
    grid-area: header;
    background-color: bisque;
}
.main{
    grid-area: main;
    background-color: azure;
}
.sidebar{
    grid-area: sidebar;
    background-color: lightcoral;
}
.footer{
    grid-area: footer;
    background-color: lightcyan;
}