/*requared */
a{
    color: rgb(0, 102, 0) ;
}
body{
    background-color: rgb(238, 238, 238) ;
    padding: 30px;
}
img{
    background-color: rgb(255, 255, 255) ;
    box-shadow: rgba(0, 0, 0, 0.25) ;
    float: right;
}
/*requared */


main{
width: 700px;
}
section .quote {
    width: 200px;
    float: right;
}
aside section{
float: right;

}