.conteiner1 {
display: flex;
flex-direction: row;
}

.child {
width: 25%;
margin: 20px;
height: 100px;
}

.conteiner2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    

    }

 .conteiner2 .child {
width: 15%;
}

.child.first{
    background-color: #96ceb4;
    flex-shrink: 1;
}
.child.secound{
    background-color: #ffeead;
    height: 150px;
}
.child.third{
    background-color: #ffcc5c;
}
.child.forth{
    background-color: #ff6f69;
    height: 150px;
}
