*{
    box-sizing: border-box;

}
body {
    height:100vh;
    width:100vw;
    margin:0px;
}
div.conteiner{
    height:100%;
    width: 100%;
}


span{
    border: 1px solid black;
    text-transform: uppercase;
}


body div.conteiner{
display: flex;

}

.conteiner .week{
display: flex;
flex-wrap: wrap;
}
.conteiner .week span{
   width: 20%; 
}
.conteiner .week span:nth-child(1),
.conteiner .week span:nth-child(7){
    width: 100%; 
 }
 .conteiner .week span:nth-child(8),
.conteiner .week span:nth-child(9){
    width: 50%;
}
.conteiner .notes{
    display: flex;
    flex-direction: column;
}

.conteiner .notes span{
    height: 50%;
}

