body {
    background-color: rgb(238, 238, 238);
    justify-items: center;
    padding: 30px 250px;

}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
    float: right;
    padding: 10px;
    border: 1px solid black;
    margin: 0px 0px 30px 30px;
}

.img_secound {
    float: left;
    margin: 0px 30px 30px 0px;
}

header h1 {
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

h1,
h2 {
    font-size: 35px;
}

main p {
    font-size: 25px;
}

.section_level2 {
    width: 55%;
    display: inline-block;
    padding-right: 30px;
}

.quote {
    width: 40%;
    border-left: 3px solid rgb(212, 211, 211);
    display: inline-block;
    padding-left: 30px;

}

.quote .author_name {
    float: right;
}

@media (max-width: 499px) {
    body{
        padding: 30px 40px;
    }
    body main section p {
        font-size: 12px;
    }

    h1,
    h2 {
        font-size: 26px;
    }

    header h1 {
        font-size: 40px;
    }

    img{
        float: none;
        margin: 0px;
    }
    .section_level2 {
        width: auto;
    }
    
    .quote {
        width: auto;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    body{
        padding: 30px 40px;
    }

    body main section p {
        font-size: 14px;
        display: block;
    }

    h1,
    h2 {
        font-size: 28px;
    }

    header h1 {
        font-size: 45px;
    }

    img{
        float: none;
        margin: 0px;
    }
    .section_level2 {
        width: auto;
    }
    
    .quote {
        width: auto;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    body{
        padding: 30px 70px;
    }
    body main section p {
        font-size: 16px;
    }

    h1,
    h2 {
        font-size: 30px;
    }

    header h1 {
        font-size: 50px;
    }

    .section_level2 {
        width: auto;
    }
    
    .quote {
        width: auto;
    }
}

@media (min-width: 800px) and (max-width: 1299px) {
    body{
        padding: 30px 120px;
    }
    body main section p {
        font-size: 18px;
    }

    h1,
    h2 {
        font-size: 32px;
    }

    header h1 {
        font-size: 55px;
    }

    .section_level2 {
        width: 48%;
    }
    
    .quote {
        width: 38%;
    }
}

@media (min-width: 1300px) and (max-width: 1799px) {
    body{
        padding: 30px 180px;
    }
    body main section p {
        font-size: 21px;
    }

    h1,
    h2 {
        font-size: 32px;
    }

    header h1 {
        font-size: 60px;
    }

    .section_level2 {
        width: 50%;
    }
    
    .quote {
        width: 40%;
    }
}

@media (min-width: 1800px) {
    body{
        padding: 30px 220px;
    }
    body main section p {
        font-size: 23px;
    }

    h1,
    h2 {
        font-size: 35px;
    }

    header h1 {
        font-size: 60px;
    }
    .section_level2 {
        width: 50%;
    }
    
    .quote {
        width: 40%;
    }
}