@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-family: 'Poppins', sans-serif;
}

.title_black ,
.title_green ,
.subtitle{
    text-align: center;
}
.subtitle{
    color: rgb(143, 142, 142);
}

.object_conteiner{
    display: flex;
    justify-content: center;
    gap: 30px;

}

.title_green{
    color: lightgreen;
}
.object1,
.object2,
.object3{
    background-color: rgb(247, 242, 242);
    padding-bottom: 30px;
    width: 370px;
}

.subtitle{
    padding-bottom: 60px;
    padding-top: none;
}
button{
    background-color: lightgreen;
    border: none;
    height: 40px;
    width: 130px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 30px;
    font-size: 11,8px;
}

h2{
    padding: 0 30px;
    font-size: 21px;
    font-weight: 800;
}
.object1 p,
.object2 p,
.object3 p{
    font-size: 15px;
    padding: 0 30px;
    line-height: 2;
    color: rgb(143, 142, 142);
}