body{
    margin-top: 60px;
}
.form_conteiner{
    width: 400px;
    margin: 0 auto;
    border: 1px solid hsl(0deg 0% 72%);
    border-radius: 3px;
    padding: 50px;
    position: relative;
    background-color: hsl(0deg 0% 97%);
    
}

form{
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "username username_box"
                        "password password_box";
    row-gap: 25px;
    column-gap: 10px;
}
.username{
    grid-area: username;
}
.username_box{
    grid-area: username_box;
}
.password{
    grid-area: password;
}
.password_box{
    grid-area: password_box;
}

input{
    height: 30px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid hsl(0deg 0% 72%);
    border-radius: 3px;
}
i{
    font-size: 16px;
    padding: 8px;
    justify-self: end;
}
label{
    align-self: center;
}
p{
    border: 1px solid hsl(0deg 0% 72%);
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: -38px;
    left: -1px;
    z-index: 0;
    background-color:white;
    padding: 11px 95px 11px 8px;
}
button{
    margin-top: 18px;
    padding: 4px 12px;
    background-color: hsl(0deg 0% 18%);
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100px;
}


@media (min-width: 1024px) and (max-width: 1280px) {
    .form_conteiner{
        width: 350px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .form_conteiner{
        width: 320px;
    }
    form{
        grid-template-areas: "username username"
                            "username_box username_box "
                            "password password"
                            "password_box password_box";
        row-gap: 16px;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .form_conteiner{
        width: 300px;
    }
    form{
        grid-template-areas: "username username"
                            "username_box username_box "
                            "password password"
                            "password_box password_box";
        row-gap: 16px;
    }
}
@media (max-width: 480px){
    .form_conteiner{
        width: 280px;
    }
    form{
        grid-template-areas: "username username"
                            "username_box username_box "
                            "password password"
                            "password_box password_box";
        row-gap: 16px;
    }
}
